body, html {
    margin:0;   
    height:100%;
    width:100%;
}
.header {background-color:#0066CC;color: #FFFFFF;}
.header-title {color: #FFFFFF;}
.km-tabstrip {background-color:#0066CC;color: #FFFFFF;}
.km-button {color: #FFFFFF;background-color:#0066CC;}
.km-view .km-tabstrip {height:50px;}
.km-view .km-tabstrip .km-button .km-text{font-size:7pt; color:#FFFFFF;}
.km-view .km-tabstrip .km-button .km-icon{color:#FFFFFF; margin-top:-12px;}
.EventItem{background-color:#0066CC;color: #FFFFFF;margin-top:5px;margin-bottom:5px;margin-left:2px;margin-right:2px;padding:2px; 
    height:40px;text-align:left;
    }
.gridButton {color:#FFF; border: none;  width:45%; height:40px; text-align:center; display:inline; background-color:#0066CC; padding:10px; margin-left:3.5%; margin-bottom:10px; border-radius:5px;}